<p>zoom: {{ this.zoomService.currentZoom.toString() }}</p>

<div style="width: 100%; overflow: hidden;">

    <div style="width: 1020px; float: left;">
        <canvas #mapCanvas (contextmenu)="rightclick($event)" (mousedown)="startDrag($event)"
            (mousemove)="moveDrag($event)" (mouseup)="stopDrag($event)" (wheel)="changeZoom($event)"
            width="{{ this.zoomService.MAP_WIDTH }}" height="{{ this.zoomService.MAP_HEIGHT }}">
        </canvas>
    </div>

    <div style="margin-left: 1020px">
        <p>
            <mat-checkbox (ngModelChange)="toggleFilters()" [formControl]="filterForm.controls.enabled">Enable filters
            </mat-checkbox>
        </p>
        <p>
            <mat-form-field style="min-width: 90%;">
                <mat-label>Color</mat-label>
                <mat-select (ngModelChange)="updateFilters()" [formControl]="filterForm.controls.colors" multiple>
                    <mat-option *ngFor="let color of colorList" [value]="color">{{color.toString()}}</mat-option>
                </mat-select>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field style="min-width: 90%;">
                <mat-label>Shape</mat-label>
                <mat-select (ngModelChange)="updateFilters()" [formControl]="filterForm.controls.shapes" multiple>
                    <mat-option *ngFor="let shape of shapeList" [value]="shape">{{shape.toString()}}</mat-option>
                </mat-select>
            </mat-form-field>
        </p>
    </div>

</div>

<p>{{ this.messageToUser }}</p>